<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
  	<servlet-name>QueryServlet</servlet-name>
  	<servlet-class>com.solarise.server.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryServlet</servlet-name>
  	<url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SavePlanServlet</servlet-name>
  	<servlet-class>com.solarise.client.SavePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SavePlanServlet</servlet-name>
  	<url-pattern>/savePlan</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DeletePlanServlet</servlet-name>
  	<servlet-class>com.solarise.client.DeletePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeletePlanServlet</servlet-name>
  	<url-pattern>/deletePlan</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<servlet-class>com.solarise.client.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RecordServlet</servlet-name>
  	<servlet-class>com.solarise.client.RecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RecordServlet</servlet-name>
  	<url-pattern>/record</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.solarise.server.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>